In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("orders.csv")
print(dataset.head())

   Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   Discount Percent
0                 2
1                 3
2                 5
3                 2
4                 5

In [3]:
print(dataset.isnull().sum())

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [45]:
dataset.dropna(inplace =True)

In [4]:
print(dataset.isnull().sum())

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [5]:
dataset.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [6]:
dataset["Discount Price"]= dataset["List Price"] * (dataset["Discount Percent"]/100)
dataset["selling price"] = dataset["List Price"] - dataset["Discount Price"]
dataset["profit per product"] = dataset["selling price"] - dataset["cost price"]
dataset["profit"] = dataset["profit per product"] * dataset["Quantity"]
dataset["profit"].head()

0     29.6
1    324.3
2     -1.0
3    804.0
4     -2.0
Name: profit, dtype: float64

In [7]:
print(dataset["Ship Mode"].unique())

['Second Class' 'Standard Class' 'Not Available' 'unknown' 'First Class'
 nan 'Same Day']

In [8]:
filled_value=dataset["Ship Mode"].mode()[0]
dataset["Ship Mode"]=dataset["Ship Mode"].replace("Not Available",filled_value)
dataset["Ship Mode"]=dataset["Ship Mode"].replace("unknown",filled_value)
print(dataset["Ship Mode"].unique())

['Second Class' 'Standard Class' 'First Class' nan 'Same Day']

In [9]:
dataset.columns=dataset.columns.str.lower()
dataset.columns=dataset.columns.str.replace(" ","_")
dataset.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount_price', 'selling_price',
       'profit_per_product', 'profit'],
      dtype='object')

In [11]:
# install SQLAlchemy
# install mysql-connector-python
from sqlalchemy import create_engine
import mysql.connector
# Replace these with your MySQL credentials
username = 'root'
password = '1234'
host = 'localhost'
database = 'nimra'

# Create a connection to the database
db_connection_str = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'
db_connection = create_engine(db_connection_str)
# phli line m hm sqlalchemy ki madad s link create kr rhy or phir engine ki madad s us link ko database k saath connect kr rhy

In [12]:
# dataset.to_sql(name='df_order', con=db_connection, index=False, if_exists='replace')  # yani ap is dataset ko sql m daalo (data.to_sql) or table ka name
# df_order ho ga, connections is db_connection (con=db_connection) or dataset k ander jo index automatically bna us ko false kr do and then
# if_exists="replace" is liye kia k agar koi table is name s nhi h to create kr do but agar h is name s to us table k ander jo data tha us data ko replace 
# kr do is dataset s


#if_exists='replace' kryn gy to ek issue y ay ga k 
# mysql m jo table bna df_order k name s us k columns ki datatypes vo nhi hn jo hmary dataset m hn. to is liye hm mysql m ja kr 
# df_order vly table ko drop kryn gy "drop table df_order" or phir khud s empty table bnay gy with our required datatypes or phir
# hm if_exists='append' kry gy , yani kehny ka matlab y hua k df_order valy table k ander is dataset ko append krna h
dataset.to_sql(name="df_order", con=db_connection, index=False, if_exists="append")

9994

In [ ]:
# until now data is cleaned using python and successfully loaded to sql. Now, sql, there is some data analysis will done: